* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgb(1, 33, 33);
}
::-webkit-scrollbar-thumb {
    background: rgb(42, 151, 151);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 220, 220);
}
::-webkit-scrollbar-corner {
    background-color: rgb(1, 23, 23);
}
body {
    background-color: rgb(20, 44, 42);
    margin: 0%;
    padding-top: 65px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.navbar {
    left:0;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 3.3em;
    width: 100%;
    background: rgb(1, 33, 33);
    display: flex;
    align-items: center;
}
.homebutton {
    float: left;
    background-color: rgb(42, 151, 151);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 58px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 15px;
}
.gallerybutton {
    float: left;
    background-color: rgb(42, 151, 151);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 85px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}
.tablebutton {
    float: left;
    background-color: #808080;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 15px;
}
.homebutton:hover:not(.currentbutton),
.gallerybutton:hover:not(.currentbutton){
    background-color: rgb(45, 180, 180);
    cursor: pointer;
    box-shadow: -2px 2px rgba(0, 21, 21, 0.877);
    transform: scale(1) translateY(-2px);
}
.homebutton:active:not(.currentbutton),
.gallerybutton:active:not(.currentbutton){
    background-color: rgb(45, 180, 180);
    transform: scale(1) translateY(0px);
    box-shadow: 0px 0px rgba(0, 21, 21, 0.877);
    cursor: pointer;
}
.currentbutton {
    border-style: mixed;
    border-color: rgb(30, 220, 220);
    background-color: rgba(0, 0, 0, 0);
}
.currentbutton span {
    color: rgb(30, 220, 220);
    font-size: large;
}
.txtbox {
    font-family: "Fredoka One", sans-serif;
    color: rgb(214, 214, 214);
    font-size: x-large;
    margin: auto;
    min-width: 50%;
    max-width: 85%;
    padding: 13px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.137);
}
.txtbox h2 {
    color: rgb(215, 209, 183);
}
.txtbox p {
    color: rgb(205, 200, 180);
}
.txtbox ul {
    color: rgb(205, 200, 180);
}
div.gallerypic img {
    border-radius: 40px;
    width: 100%;
    height: auto;
}
.responsive {
    padding: 15px;
    float: left;
    width: 32.9999999%;
}
@media (max-width: 70em){
    .responsive {
        width: 49.99999%;
        padding: 15px;
    }
}
@media (max-width: 35em){
    .responsive {
        width: 100%;
        padding: 15px;
    }
}
