* {
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgb(1, 33, 33);
}
::-webkit-scrollbar-thumb {
    background: rgb(42, 151, 151);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 220, 220);
}
::-webkit-scrollbar-corner {
    background-color: rgb(1, 23, 23);
}
body {
    background-color: rgb(20, 44, 42);
    margin: 0%;
    padding: 65px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.navbar {
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: 55px;
    width: 100%;
    background: rgb(1, 33, 33);
    display: flex;
    align-items: center;
}
.homebutton {
    border: solid;
    border-color: black;
    color: black;
    float: left;
    background-color: rgb(42, 151, 151);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 58px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 999px;
}
.gallerybutton {
    border: solid;
    border-color: black;
    color: black;
    float: left;
    background-color: rgb(42, 151, 151);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 85px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 999px;
}
.tablebutton {
    border: solid;
    border-color: black;
    color: black;
    float: left;
    background-color: rgb(42, 151, 151);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    width: 90px;
    height: 30px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 999px;
}
.homebutton:hover:not(.currentbutton),
.gallerybutton:hover:not(.currentbutton),
.tablebutton:hover:not(.currentbutton) {
    background-color: rgb(45, 180, 180);
    cursor: pointer;
    box-shadow: -2px 2px rgba(0, 21, 21, 0.877);
    transform: scale(1) translateY(-2px);
}
.homebutton:active:not(.currentbutton),
.gallerybutton:active:not(.currentbutton),
.tablebutton:active:not(.currentbutton) {
    background-color: rgb(45, 180, 180);
    transform: scale(1) translateY(0px);
    box-shadow: 0px 0px rgba(0, 21, 21, 0.877);
    cursor: pointer;
}
.currentbutton {
    border-style: mixed;
    border-color: rgb(30, 220, 220);
    background-color: rgba(0, 0, 0, 0);
}
.currentbutton span {
    color: rgb(30, 220, 220);
    font-size: large;
}

.txtbox {
    font-family: "Fredoka One", sans-serif;
    color: rgb(214, 214, 214);
    font-size: large;
    margin: auto;
    min-width: 50%;
    max-width: 85%;
    padding: 13px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 40px;
    border-style: solid;
    border: none;
    background-color: rgba(0, 0, 0, 0.137);
}
.txtbox p {
    color: rgb(205, 200, 180);
    font-family: "Open Sans";
    font-size: x-large;
}
.txtbox ul {
    color: rgb(205, 200, 180);
    font-family: "Open Sans";
    font-size: x-large;
}

div.gallerypic img {
    border-radius: 40px;
    width: 100%;
    height: auto;
}
.responsive {
    padding: 15px;
    float: left;
    width: 32.9999999%;
}

.tablecontainer {
    background-color: rgba(0, 0, 0, 0.137);
    color: rgb(165, 160, 140);
    font-family: "Fredoka One", sans-serif;
    font-size: large;
    text-align: center;
    padding: 40px 30px 10px 30px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    border-style: solid;
    border: none;
    margin: auto;
    margin-top: 20px;
}
.tablecontainer td {
    width: 9999px;
    margin: 10em;
}
.tablecontainer .lun,
.mar,
.mie,
.joi,
.vin {
    font-family: "Open Sans";
    font-size: x-large;
    background-color: rgba(0, 86, 86, 0.244);
    border-radius: 1em;
}
.lun {
    color: rgb(172, 157, 238);
}
.mar {
    color: rgb(126, 198, 253);
}
.mie {
    color: rgb(188, 221, 150);
}
.joi {
    color: rgb(255, 232, 156);
}
.vin {
    color: rgb(255, 190, 180);
}

@media (max-width: 70em) {
    .responsive {
        width: 49.99999%;
        padding: 15px;
    }
}
@media (max-width: 35em) {
    .responsive {
        width: 100%;
        padding: 15px;
    }
}
@media (pointer: coarse) {
    body {
        padding-top: 165px;
    }
    .navbar {
        height: 160px;
        padding-left: 20px;
    }
    [class*="button"] {
        height: 100px;
        font-size: 3em;
    }
    .homebutton {
        width: 175px;
    }
    .gallerybutton {
        width: 233px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .tablebutton {
        width: 245px;
    }
    .currentbutton span {
        font-size: 1.1em;
    }
    .txtbox {
        margin-top: 40px;
        margin-bottom: 60px;
        border-radius: 60px;
        font-size: xx-large;
    }
    .txtbox p {
        font-size: 1.5em;
    }
    .txtbox ul {
        font-size: xx-large;
    }
    div.gallerypic img {
        border-radius: 60px;
    }
    .responsive {
        width: 100%;
        padding: 25px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .tablecontainer {
        margin-top: 40px;
        font-size: xx-large;
        padding: 60px 10px 50px 10px;
        border-radius: 60px;
    }
    .tablecontainer .lun,
    .mar,
    .mie,
    .joi,
    .vin {
        font-size: 1.6em;
    }
    .tablecontainer tr {
        height: 100px;
    }
}
